body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.header {
    background-color: #1565c0;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.privileges {
    width: 30%;
    margin-right: 60px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box {
    width: 20%;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-box1{
    display: flex;
    justify-content: space-evenly
}

.input-field {
    width: 100%;
    padding: 12px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-btn {
    padding: 12px;
    padding-left: 12px;
    background-color: #1565c0;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}

.login-btn:hover {
    background-color: #0d47a1;
}

.social-btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #e0e0e0;
    cursor: pointer;
}

.social-btn:hover {
    background-color: #bdbdbd;
}